#main-label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 1;
    padding: 20px;
}

body {
    text-align: center;
    margin: 20px;
    padding: 10px;
}


#nav-next-btn {
    color: black;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: white;
    padding: 4px 30px;
    margin-left: 50px;
}

#nav-next-btn:hover:enabled{
    color:white;
    background-color:black;
    cursor: pointer;
    transition-duration: .2s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .2s;
}

#nav-next-btn:active:enabled{
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #000;
}

#nav-next-btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

#nav-prev-btn {
    color: black;
    font-size: 20px;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: white;
    padding: 4px 30px;
    margin-right: 50px;
}

#nav-prev-btn:hover:enabled{
    color:white;
    background-color:black;
    cursor: pointer;
    transition-duration: .2s;
    -webkit-transition-duration: .11s;
    -moz-transition-duration: .2s;
}

#nav-prev-btn:active:enabled{
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #000;
}

#nav-prev-btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 20px;
    padding: 2px;
    font-family: 'Helvetica Light', sans-serif;
    font-weight: lighter;
    font: 18px sans-serif;
    background: rgb(174, 181, 190);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
